<h1>新しい投稿</h1>

<%= form_with model: @post, html:{class: "form-container"} do |f| %>
<div class="form-input">
    <%= f.label  :title %><%= f.text_field :title %>
</div>
<div class="form-input">
    <%= f.label :content %><%= f.text_area :content %>
</div>
<div class="button-container">
    <%= f.submit "投稿する", class: "link-button" %>
</div>
<% end %>
